header {
  width: 100vw;
  height: 10vh;
  background-color: #04250d;
  display: flex;
  justify-content: center;
  align-items: center;  
}

h1 {
  color: #fff;
  text-shadow: 0 0 10px #adff2f;
}

.menu-burger {  
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem;
  cursor: pointer;
}